IMPORT DATA

In [19]:
!!pip install psycopg2
!!pip install pandas
!!pip install matplotlib

['Requirement already satisfied: matplotlib in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (3.7.0)',
 'Requirement already satisfied: pyparsing>=2.3.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (3.0.9)',
 'Requirement already satisfied: kiwisolver>=1.0.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.4.4)',
 'Requirement already satisfied: cycler>=0.10 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (0.11.0)',
 'Requirement already satisfied: numpy>=1.20 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.23.5)',
 'Requirement already satisfied: fonttools>=4.22.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (4.25.0)',
 'Requirement already satisfied: contourpy>=1.0.1 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (1.0.5)',
 'Requirement already satisfied: pillow>=6.2.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (9.4.0)',
 'Requirement already satisfied: python-dateutil>=2.7 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (2.8.2)',
 'Requirement already satisfied: packaging>=20.0 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from matplotlib) (22.0)',
 'Requirement already satisfied: six>=1.5 in /Users/da_m1_52/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)']

In [20]:
import sqlalchemy
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
%load_ext sql
from sqlalchemy import engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
engine = sqlalchemy.create_engine('postgresql://postgres:polpol@localhost:5432/booksys')
connection = engine.connect()
conn = psycopg2.connect('postgresql://postgres:polpol@localhost:5432/booksys')

CONVERTING  CSV FILE TO TABLE

In [23]:
orders = pd.read_csv('/Users/da_m1_52/Downloads/orders.csv')

/var/folders/5g/55_x_kdn3fx9kqydvjsl9qwr0000gn/T/ipykernel_16016/3313618144.py:1: DtypeWarning: Columns (15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv('/Users/da_m1_52/Downloads/orders.csv')

In [24]:
vendors = pd.read_csv('/Users/da_m1_52/Downloads/Vendors.csv')

In [25]:
test_locations = pd.read_csv('/Users/da_m1_52/Downloads/test_locations.csv')

In [26]:
test_locations.head()

  customer_id  location_number location_type    latitude  longitude
0     Z59FTQD                0           NaN  126.032278  -9.106019
1     0JP29SK                0          Home    0.278709 -78.623847
2     0JP29SK                1          Home    0.124485 -78.605621
3     0JP29SK                2           NaN   -0.113891 -78.577449
4     0JP29SK                3           NaN   -0.848796   0.136726

In [27]:
test_customers= pd.read_csv('/Users/da_m1_52/Downloads/test_customers.csv')

In [28]:
test_customers.head()

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at
0,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36
1,FWNUI71,Male,NaN,1,1,EN,2018-03-22 20:11:47,2018-03-22 20:11:47
2,LRX7BCH,Male,NaN,1,1,EN,2018-04-17 20:01:15,2018-04-17 20:01:15
3,D96DHMD,Male,NaN,1,1,EN,2018-04-29 22:35:52,2018-04-29 22:35:52
4,88Q8Y5V,Male,1997.0,1,1,EN,2018-05-05 12:38:09,2018-05-05 12:38:09

In [29]:
vendors.head()

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1

In [30]:
orders.head()

,akeed_order_id,customer_id,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,...,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,163238.0,92PEE24,1.0,7.6,2,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,105,2019-08-01 05:30:16,0,NaN,92PEE24 X 0 X 105
1,163240.0,QS68UD8,1.0,8.7,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,294,2019-08-01 05:31:10,0,Work,QS68UD8 X 0 X 294
2,163241.0,MB7VY5F,2.0,14.4,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:31:33,0,NaN,MB7VY5F X 0 X 83
3,163244.0,KDJ951Y,1.0,7.1,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,90,2019-08-01 05:34:54,0,Home,KDJ951Y X 0 X 90
4,163245.0,BAL0RVT,4.0,27.2,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:35:51,0,Work,BAL0RVT X 0 X 83

In [47]:
train_customers= pd.read_csv('/Users/da_m1_52/Downloads/train_customers.csv')

In [49]:
train_customers.head()

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23
1,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41
2,S2ALZFL,Male,NaN,0,1,EN,2018-03-14 18:31:43,2018-03-14 18:31:42
3,952DBJQ,Male,NaN,1,1,EN,2018-03-15 19:47:07,2018-03-15 19:47:07
4,1IX6FXS,Male,NaN,1,1,EN,2018-03-15 19:57:01,2018-03-15 19:57:01

In [48]:
train_locations= pd.read_csv('/Users/da_m1_52/Downloads/train_locations.csv')

In [50]:
train_locations.head()

  customer_id  location_number location_type  latitude  longitude
0     02SFNJH                0           NaN  1.682392 -78.789737
1     02SFNJH                1           NaN  1.679137   0.766823
2     02SFNJH                2           NaN -0.498648   0.661241
3     RU43CXC                0          Home  0.100853   0.438165
4     BDFBPRD                0           NaN  2.523125   0.733464

In [31]:
df = pd.read_csv('/Users/da_m1_52/Downloads/orders.csv')
df.to_sql('orders.csv', engine, if_exists='replace', index=False, chunksize=478741)

/var/folders/5g/55_x_kdn3fx9kqydvjsl9qwr0000gn/T/ipykernel_16016/948101794.py:1: DtypeWarning: Columns (15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/da_m1_52/Downloads/orders.csv')

303

In [32]:
#Checking datatypes in our Dataset
df.dtypes

akeed_order_id                    float64
customer_id                        object
item_count                        float64
grand_total                       float64
payment_mode                        int64
promo_code                         object
vendor_discount_amount            float64
promo_code_discount_percentage    float64
is_favorite                        object
is_rated                           object
vendor_rating                     float64
driver_rating                     float64
deliverydistance                  float64
preparationtime                   float64
delivery_time                      object
order_accepted_time                object
driver_accepted_time               object
ready_for_pickup_time              object
picked_up_time                     object
delivered_time                     object
delivery_date                      object
vendor_id                           int64
created_at                         object
LOCATION_NUMBER                     int64
LOCATION_TYPE                      object
CID X LOC_NUM X VENDOR             object
dtype: object

In [33]:
#Checking for Nulls in our Dataset
null_counts = df.isnull().sum()
print(null_counts)

akeed_order_id                        70
customer_id                            0
item_count                          6925
grand_total                            0
payment_mode                           0
promo_code                        130998
vendor_discount_amount                 0
promo_code_discount_percentage     69423
is_favorite                        35195
is_rated                               0
vendor_rating                      90083
driver_rating                          0
deliverydistance                       0
preparationtime                    55560
delivery_time                     130180
order_accepted_time                48348
driver_accepted_time               88845
ready_for_pickup_time              51054
picked_up_time                     51438
delivered_time                     49562
delivery_date                      99759
vendor_id                              0
created_at                             0
LOCATION_NUMBER                        0
LOCATION_TYPE                      48893
CID X LOC_NUM X VENDOR                 0
dtype: int64

In [43]:
#Checking for duplicates in our Dataset
duplicates = test_customers.duplicated().sum()
duplicates

0

In [52]:
train_locations.shape

(59503, 5)

In [46]:
def calculate_ordering_preferences(customer_location, restaurant_locations):
    preferences = {}

    for restaurant, location in restaurant_locations.items():
        distance = calculate_distance(customer_location, location)
        preferences[restaurant] = distance

    sorted_preferences = sorted(preferences.items(), key=lambda x: x[1])
    return sorted_preferences

def calculate_distance(location1, location2):
    # You can use any suitable distance calculation algorithm here
    # For simplicity, let's assume we're using Euclidean distance
    x1, y1 = location1
    x2, y2 = location2
    distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
    return distance

# Example usage
customer_location = (37.7749, -122.4194)  # Customer's location (latitude, longitude)

# Restaurant locations (latitude, longitude)
restaurant_locations = {
    'Restaurant A': (37.1234, -122.5678),
    'Restaurant B': (37.9876, -122.3456),
    'Restaurant C': (37.5678, -122.6789)
}

preferences = calculate_ordering_preferences(customer_location, restaurant_locations)
for preference in preferences:
    print(preference[0])

Restaurant B
Restaurant C
Restaurant A